pkgbase = photoview-git
	pkgdesc = Photo gallery for self-hosted personal servers
	pkgver = r1416.f5e1a515
	pkgrel = 1
	url = https://github.com/photoview/photoview
	install = photoview.install
	arch = x86_64
	arch = aarch64
	license = AGPL3
	makedepends = git
	makedepends = go
	makedepends = npm
	depends = nodejs
	depends = libjpeg-turbo
	depends = libheif
	depends = libwebp
	depends = blas
	depends = cblas
	depends = lapack
	depends = dlib
	optdepends = mariadb: for mysql database backend
	optdepends = postgresql: for database backend
	optdepends = sqlite: for database backend
	optdepends = darktable: for RAW image support
	optdepends = ffmpeg: for video file playback in the browser
	optdepends = perl-image-exiftool: for faster and more reliable EXIF metadata parsing
	conflicts = golang-photoview
	conflicts = photoview
	replaces = golang-photoview
	replaces = photoview
	backup = etc/photoview.env
	source = photoview-git::git+https://github.com/photoview/photoview
	sha512sums = SKIP

pkgname = photoview-git
