pkgbase = photoview-git
	pkgdesc = Photo gallery for self-hosted personal servers
	pkgver = r1349.124b6d34
	pkgrel = 1
	url = https://github.com/photoview/photoview
	install = photoview.install
	arch = x86_64
	license = AGPL3
	makedepends = git
	makedepends = go
	makedepends = npm
	depends = nodejs
	depends = libjpeg-turbo
	depends = libheif
	depends = libwebp
	depends = blas
	depends = cblas
	depends = lapack
	depends = dlib
	optdepends = mariadb: for mysql database backend
	optdepends = postgresql: for database backend
	optdepends = sqlite: for database backend
	optdepends = darktable: for RAW image support
	optdepends = ffmpeg: for video file playback in the browser
	optdepends = perl-image-exiftool: for faster and more reliable EXIF metadata parsing
	conflicts = golang-photoview
	conflicts = photoview
	replaces = golang-photoview
	replaces = photoview
	backup = etc/photoview.env
	source = photoview-git::git+https://github.com/photoview/photoview
	sha512sums = SKIP
	sha512sums = aa9b3fe32883af83c183a3cf1d0646b6140f2294c5b58d6df3cac4b1f9b89300f955f46fa125d50ccaac866ab60a752d42f547af19772159e6a2f176c0cf6369

pkgname = photoview-git
