pkgbase = gonic-git
	pkgdesc = A lightweight music streaming server which implements the Subsonic API
	pkgver = r1188.fa434cc
	pkgrel = 1
	url = https://github.com/sentriz/gonic
	install = gonic.install
	arch = aarch64
	license = GPL3
	makedepends = go
	makedepends = zlib
	depends = alsa-lib
	depends = gcc-libs
	depends = sqlite
	depends = taglib
	optdepends = ffmpeg: on-the-fly audio transcoding and caching
	conflicts = gonic
	backup = var/lib/gonic/config
	source = git+https://github.com/sentriz/gonic.git
	source = 001-db-timeouts.patch
	source = gonic.install
	source = gonic.sysusers
	source = gonic.tmpfiles
	md5sums = SKIP
	md5sums = f859be3076b47ad2f4d4c9e9f18d1e89
	md5sums = d6e8eda0411af60e613819ac957fcc56
	md5sums = 6ca6715be2cdd424846f7b37b98905f6
	md5sums = 487fe9a172e33d86514cf3dbb3b629b8

pkgname = gonic-git
