pkgbase = linux-aarch64
	pkgver = 5.18.1
	pkgrel = 1
	url = http://www.kernel.org/
	arch = aarch64
	license = GPL2
	makedepends = cpio
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = uboot-tools
	makedepends = vboot-utils
	makedepends = dtc
	options = !strip
	source = https://github.com/tobetter/linux/archive/f723e0147889906e924ba6a13f3c450ae0d3910e.tar.gz
	source = 0001-net-smsc95xx-Allow-mac-address-to-be-set-as-a-parame.patch
	source = 0002-arm64-dts-rockchip-disable-pwm0-on-rk3399-firefly.patch
	source = config
	source = linux.preset
	source = 60-linux.hook
	source = 90-linux.hook
	md5sums = 22350f2fdbc86e36981fdb7897f1363e
	md5sums = 91d1298599aa31b10f1f3954a450b6c3
	md5sums = 3b781286c0b97cec552ad6c8a7a019dd
	md5sums = 636f911db3fa82ffaeb550cf7bf17fe4
	md5sums = 41cb5fef62715ead2dd109dbea8413d6
	md5sums = 0a5f16bfec6ad982a2f6782724cca8ba
	md5sums = 3dc88030a8f2f5a5f97266d99b149f77

pkgname = linux-aarch64

pkgname = linux-aarch64-headers
