pkgbase = linux-aarch64-odroid-m1-lts
	pkgver = 6.1.118
	pkgrel = 1
	url = http://www.kernel.org/
	arch = aarch64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = uboot-tools
	makedepends = vboot-utils
	makedepends = dtc
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.1.118.tar.xz
	source = 0001-net-smsc95xx-Allow-mac-address-to-be-set-as-a-parame.patch
	source = 0002-arm64-dts-rockchip-disable-pwm0-on-rk3399-firefly.patch
	source = 0003-Add-support-for-the-Hardkernel-ODROID-M1-board.patch
	source = 60-linux.hook
	source = 90-linux.hook
	source = config
	source = generate_chromebook_its.sh
	source = kernel_data_key.vbprivk
	source = kernel.keyblock
	source = linux-aarch64-odroid-m1-lts-chromebook.install
	source = linux-aarch64-odroid-m1-lts.install
	source = linux.preset
	md5sums = e012a46cc634b4c3a19120360a712b20
	md5sums = 7b08a199a97e3e2288e5c03d8e8ded2d
	md5sums = c9d4e392555b77034e24e9f87c5ff0b3
	md5sums = a0c5eef4fbb129f3ca7b569b220e6681
	md5sums = 0a5f16bfec6ad982a2f6782724cca8ba
	md5sums = 3dc88030a8f2f5a5f97266d99b149f77
	md5sums = 0e4117fd79d28a36cd270e20a9245df3
	md5sums = 7c97cf141750ad810235b1ad06eb9f75
	md5sums = 584777ae88bce2c5659960151b64c7d8
	md5sums = 61c5ff73c136ed07a7aadbf58db3d96a
	md5sums = 25a6e7432649d4e5579129c13f0043ab
	md5sums = 9c795aa7ae26de6c214c20e878ee61bf
	md5sums = 41cb5fef62715ead2dd109dbea8413d6

pkgname = linux-aarch64-odroid-m1-lts

pkgname = linux-aarch64-odroid-m1-lts-headers

pkgname = linux-aarch64-odroid-m1-lts-chromebook
