pkgbase = rstudio-desktop
	pkgdesc = A powerful and productive integrated development environment (IDE) for R programming language
	pkgver = 2024.04.1.748
	pkgrel = 4
	url = https://github.com/rstudio/rstudio
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = git
	makedepends = cmake>=3.29
	makedepends = boost
	makedepends = ninja
	makedepends = npm
	makedepends = gyp
	makedepends = desktop-file-utils
	makedepends = jdk11-openjdk
	makedepends = apache-ant
	makedepends = unzip
	makedepends = openssl
	makedepends = python-setuptools
	makedepends = libcups
	makedepends = pam
	makedepends = patchelf
	makedepends = wget
	makedepends = yarn
	depends = r>=3.3.0
	depends = boost-libs
	depends = qt5-sensors
	depends = qt5-svg
	depends = qt5-webengine
	depends = qt5-xmlpatterns
	depends = postgresql-libs
	depends = sqlite3
	depends = clang
	depends = hunspell-en_US
	depends = mathjax2
	depends = pandoc
	depends = yaml-cpp
	optdepends = git: for git support
	optdepends = subversion: for subversion support
	optdepends = openssh-askpass: for a git ssh access
	optdepends = quarto: for Quarto projects support
	options = !emptydirs
	options = !debug
	source = rstudio-2024.04.1.748.tar.gz::https://github.com/rstudio/rstudio/archive/refs/tags/v2024.04.1+748.tar.gz
	source = git+https://github.com/quarto-dev/quarto.git#branch=release/rstudio-cherry-blossom
	source = https://github.com/SOCI/soci/archive/refs/tags/v4.0.3.tar.gz
	source = https://nodejs.org/dist/v18.18.2/node-v18.18.2-linux-x64.tar.gz
	source = qt.conf
	source = 0001-skip_node_install.patch
	source = 0002-enable_system_node.patch
	sha256sums = 5c1190ae22e3a25740727ff1f341ef568f47359a0d1358958ec22f7e5b59b75b
	sha256sums = SKIP
	sha256sums = 4b1ff9c8545c5d802fbe06ee6cd2886630e5c03bf740e269bb625b45cf934928
	sha256sums = a44c3e7f8bf91e852c928e5d8bd67ca316b35e27eec1d8acbe3b9dbe03688dab
	sha256sums = 723626bfe05dafa545e135e8e61a482df111f488583fef155301acc5ecbbf921
	sha256sums = fd16353df6a5be3fcb05a4ead3a8bc097f2937511ab6c4929bc512f8915956e6
	sha256sums = d7baee35120369effbf4c813920733438de70f3b7898c56bb93dcf0aaafe7f4d

pkgname = rstudio-desktop
