pkgbase = joplin-electron
	pkgdesc = Joplin Desktop for Linux, using the system Electron package
	pkgver = 2.14.20
	pkgrel = 1
	url = https://github.com/laurent22/joplin
	arch = any
	license = AGPL-3.0
	depends = electron27
	depends = gtk3
	depends = libexif
	depends = libgsf
	depends = libjpeg-turbo
	depends = libwebp
	depends = libxss
	depends = nss
	depends = orc
	depends = rsync
	depends = libvips
	optdepends = libappindicator-gtk3: for tray icon
	conflicts = joplin-desktop
	source = resources.tar.gz
	source = joplin.desktop
	source = joplin.sh
	sha256sums = 7aa19303b7213858b6d1d250fcf78415ac425b9aea4187ad2d1f53630a3014c7
	sha256sums = 9e26cd5f41d08c3c2804cf4f34cb867090371423ccbe250a890fac006d405deb
	sha256sums = bd8324d35faaf6815217d1cf31a0b5e4df80692b0312ad17aea20d51f95efd56

pkgname = joplin-electron
