pkgbase = python-wsgidav-seafile
	pkgdesc = Seafile webdav server
	pkgver = 13.0.18
	pkgrel = 1
	url = https://github.com/haiwen/seafdav
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = libyaml
	depends = python
	depends = python-json5
	depends = python-seafobj
	depends = python-defusedxml
	depends = python-jinja
	depends = python-sqlalchemy
	depends = python-yaml
	conflicts = python-wsgidav
	source = https://github.com/haiwen/seafdav/archive/v13.0.18-server.tar.gz
	sha256sums = 1bdd456aa72cae66da72d8732a5dc678b26289cdf4c930d7a3e72e7b835085da

pkgname = python-wsgidav-seafile
