pkgbase = python-wsgidav-seafile
	pkgdesc = Seafile webdav server
	pkgver = 13.0.11
	pkgrel = 1
	url = https://github.com/haiwen/seafdav
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = libyaml
	depends = python
	depends = python-json5
	depends = python-seafobj
	depends = python-defusedxml
	depends = python-jinja
	depends = python-sqlalchemy
	depends = python-yaml
	conflicts = python-wsgidav
	source = https://github.com/haiwen/seafdav/archive/v13.0.11-server.tar.gz
	sha256sums = 8616354908391b31b229d97827b78abafc0bcf47d7006584654462cdc6742b78

pkgname = python-wsgidav-seafile
