pkgbase = python-wsgidav-seafile
	pkgdesc = Seafile webdav server
	pkgver = 13.0.28
	pkgrel = 1
	url = https://github.com/haiwen/seafdav
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = libyaml
	depends = python
	depends = python-json5
	depends = python-seafobj
	depends = python-defusedxml
	depends = python-jinja
	depends = python-sqlalchemy
	depends = python-yaml
	conflicts = python-wsgidav
	source = https://github.com/haiwen/seafdav/archive/v13.0.28-server.tar.gz
	sha256sums = 6158d8c63ba9c09a9b793b2e33c0247091cf037ef0270557c9113f70ab1c9cc3

pkgname = python-wsgidav-seafile
