[Unit]
Description=Seafile
# add mysql.service or postgresql.service depending on your database to the line below
After=network.target mysql.service

[Service]
Type=forking
WorkingDirectory=/home/seafile/%i
Environment=SEAHUB_LOG_DIR=/home/seafile/%i/logs
ExecStart=/home/seafile/%i/seafile-server-latest/seafile.sh start
ExecStop=/home/seafile/%i/seafile-server-latest/seafile.sh stop
LimitNOFILE=infinity
User=seafile
Group=seafile

[Install]
WantedBy=multi-user.target