[Unit]
Description=Seafile hub
Requires=seafile@%i.service
StartLimitIntervalSec=120
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=15s
Type=forking
# WorkingDirectory=/home/seafile/%i
Environment=SEAHUB_LOG_DIR=/home/seafile/%i/logs
# change start to start-fastcgi if you want to run fastcgi
ExecStart=/home/seafile/%i/seafile-server-latest/seahub.sh start
ExecStop=/home/seafile/%i/seafile-server-latest/seahub.sh stop
User=seafile
Group=seafile

[Install]
WantedBy=multi-user.target
