pkgbase = python-seafobj
	pkgdesc = Python library for accessing seafile data model
	pkgver = 13.0.28
	pkgrel = 1
	url = https://github.com/haiwen/seafobj
	arch = any
	license = Apache
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-boto3
	depends = python-pylibmc
	depends = python-redis
	source = https://github.com/haiwen/seafobj/archive/v13.0.28-server.tar.gz
	source = pyproject.toml
	sha256sums = 4506b4e2341d8068ad1f68f2f1b055c5f7761d06ed80dbb7ae0d11abfc48a426
	sha256sums = 2d324f72339bb19c90f9410da673621c64c8b15f5449e0b09b837f02400c75f8

pkgname = python-seafobj
