pkgbase = python-seafobj
	pkgdesc = Python library for accessing seafile data model
	pkgver = 13.0.11
	pkgrel = 1
	url = https://github.com/haiwen/seafobj
	arch = any
	license = Apache
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-boto3
	depends = python-pylibmc
	depends = python-redis
	source = https://github.com/haiwen/seafobj/archive/v13.0.11-server.tar.gz
	source = pyproject.toml
	sha256sums = 4d19fc431d82f6c9120b8875d2626dd424ad7c6eea5a1dc83a3394d0f4bf2dac
	sha256sums = 999ddc6865d69c89e9431bdbec78e4485d7f1227b813fc6984ae55902a52afeb

pkgname = python-seafobj
