[Unit]
Description=Seafile hub
After=network.target
Requires=seafile.service

StartLimitIntervalSec=120
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=15s
Type=forking
# WorkingDirectory=/home/seafile/%i
Environment=SEAHUB_LOG_DIR=/srv/seafile/logs
# change start to start-fastcgi if you want to run fastcgi
ExecStart=/srv/seafile/seafile-server-latest/seahub.sh start
ExecStop=/srv/seafile/seafile-server-latest/seahub.sh stop
User=seafile
Group=seafile

[Install]
WantedBy=multi-user.target
